

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

.topline {
  margin-top: 15vh;
  font-size: x-large;
  color: white;
}

.navText {
  margin-top: 15vh;
  color: white;
}